<h1> <i class="fa fa-user"></i> Log in</h1>
<form [formGroup]="form" action=""  (ngSubmit)="login()">
    <div class="mb-3">
        <label class="form-label" for="">Email</label>
        <input formControlName="email" class="form-control" type="text">
    </div>

    <div class="mb-3">
        <label class="form-label" for="">Password</label>
        <input formControlName="password" class="form-control" type="text">
    </div>

    <button class="btn btn-primary"> <i class="fa fa-key"></i> Log in</button>
</form>

<p>
    ¿Todavía no tienes cuenta? <a routerLink="/signup"> Regístrate aquí</a> 
</p>