<h2>Creación/edición de productos</h2>

<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6">
        <form [formGroup]="form">
            <div class="p-3">
                <label for="" class="form-label">Nombre del producto</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Nombre">
            </div>
            <div  class="p-3">
                <label for="" class="form-label">Precio</label>
                <input (keyup)="onCambioPrecio()" formControlName="price" type="number" class="form-control" placeholder="Precio">
            </div>
            <div  class="p-3">
                <label for="" class="form-label">Descripcion</label>
                <input formControlName="description" type="text" class="form-control" placeholder="Descripcion">
            </div>
            <div  class="p-3">
                <label for="" class="form-label">Ruta imagen</label>
                <input (keyup)="onCambioImagen()" formControlName="image" type="text" class="form-control" placeholder="Imagen">
            </div>
            <div  class="p-3">
                <label for="" class="form-label">Opiniones</label>
                <input (keyup)="onCambioValoracion()" min="0" max="5" formControlName="review" type="number" class="form-control" placeholder="Opiniones">
                @if(form.get("review")?.errors){
                    <span [style]="{color: 'red'}">error en las reviews</span>
                }
            </div>

            <button [disabled]="form.valid === false" class="btn btn-warning">Guardar</button>
        </form>

  </div>

  <div class="col-md-1 col-lg-1 d-none d-md-block">
    <div class="separador"></div>
  </div>
  <div class="d-block d-sm-none">
    <hr>
  </div>
  

  <div class="col-md-5 col-lg-5 col-sm-5">
    @if(product){
        <app-product [editMode]="true" [product]="product"></app-product>
    }
  </div>
</div>
