<footer class="bg-dark footer-fixed text-white text-center">
    <div class="text-center">
        Siguenos en
    </div>
    <div class="container p-4 d-flex flex-columns justify-content-center">
        <a class="nav-link p-2" href="/twitter...">
            <i class="fab fa-twitter"></i>
            Twitter
        </a>
        <a class="nav-link p-2" href="/twitter...">
            <i class="fab fa-instagram"></i>
            Instagram
        </a>
        <a class="nav-link p-2" href="/twitter...">
            <i class="fab fa-facebook"></i>
            Facebook
        </a>
        <a class="nav-link p-2" href="/twitter...">
            <i class="fab fa-tiktok"></i>
            Tiktok
        </a>
    </div>
    <div class="text-center">
        Copyright Shopeame &copy;2024
    </div>
</footer>