@if(error){

    <h4>error 404</h4>

} @else { 

    @if(post === null){
        <span>Loading...</span>
    } @else {
        <fieldset>
            <legend>Datos del post</legend>
            <h3>{{ post.title }}</h3>
            <p>
                {{ post.body }}
            </p>
        </fieldset>

        <fieldset>
            <legend>Datos del creador</legend>
            @if(user === null){
                <div class="sk-info-user" ></div>
                <div class="sk-info-user" ></div>
                <div class="sk-info-user" ></div>
                <div class="sk-info-user" ></div>
                <div class="sk-info-user" ></div>
            }
            @else {
                <label class="info-user"  for="">{{user.name}}</label> 
                <label class="info-user" for="">{{user.username}}</label> 
                <label class="info-user" for="">{{user.email}}</label> 
                <label class="info-user" for="">{{user.phone}}</label> 
                <label class="info-user" for="">{{user.website}}</label> 

            }
            
        </fieldset>

        <fieldset>
            <legend>Comentarios ({{comments.length}})</legend>

            @if(loadingComments === true){
                <div class="sk-comment">
                    <div class="sk-comment-name"></div>
                    <div class="sk-comment-body"></div>
                    <div class="sk-comment-email"></div>
                </div>
                <div class="sk-comment">
                    <div class="sk-comment-name"></div>
                    <div class="sk-comment-body"></div>
                    <div class="sk-comment-email"></div>
                </div>
                <div class="sk-comment">
                    <div class="sk-comment-name"></div>
                    <div class="sk-comment-body"></div>
                    <div class="sk-comment-email"></div>
                </div>
            }
            @else{
                @for(comment of comments; track comment){
                    <div class="comment">
                        <strong>{{comment.name}}</strong>
                        <p>{{comment.body}}</p>
                        <span class="comment-email">{{comment.email}}</span>
                    </div>
                }
            }
            

            
            
        </fieldset>


        
        
    } 
}
