<h1><i class="fa fa-user"></i> Sign up</h1>
<form [formGroup]="form" (ngSubmit)="signup()" action="">
  <div class="mb-3">
    <label class="form-label" for="">Name</label>
    <input formControlName="name" class="form-control" type="text" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="">Email</label>
    <input formControlName="email" class="form-control" type="text" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="">Password</label>

    <div class="input-group mb-3">
        <input formControlName="pwd" [type]="passwordType" class="form-control">
        <button (click)="passwordType = (passwordType==='text')? 'password':'text'" class="btn btn-outline-secondary" type="button" >
            @if(passwordType === 'text'){
                <i class="fa fa-eye-slash"></i>
            }
            @else {
                <i class="fa fa-eye"></i>
            }
            
        </button>
      </div>
  </div>

  <button class="btn btn-primary"><i class="fa fa-key"></i> Sign up</button>
</form>

<p>
  ¿Ya tienes cuenta? <a routerLink="/login"> Inicia sesión aquí</a> 
</p>