<form [formGroup]="form" (ngSubmit)="login()">
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">📧</span>
            <input formControlName="email" type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
          </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="pass">Password</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">🔑</span>
            <input formControlName="pass" type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
          </div>
    </div>
    <div class="mb-3">
        <input class="form-check-input checkbox" type="checkbox">
        <label class="form-check-label">Recordad contraseña</label>
    </div>
    <input [disabled]="form.valid === false" class="btn btn-primary" type="submit">

</form>