<nav class="navbar bg-warning navbar-expand">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link d-flex flex-column align-items-center" routerLink="/">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li>
        <a class="nav-link d-flex flex-column align-items-center" routerLink="/productos">
          <i class="fa fa-shopping-cart"></i>
          Prods
        </a>
      </li>
      <li>
        <a class="nav-link d-flex flex-column align-items-center" routerLink="/gestion">
          <i class="fa fa-gear"></i>
          Gestión
        </a>
      </li>
    </ul>
  </div>
</nav>
