.post{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    padding: 20px;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    display: inline-block;
}